.desktop-grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "photos content";
}

.desktop-photos { grid-area: desktop-photos; }

.desktop-content { grid-area: desktop-content; }


@media all and (-ms-high-contrast:none) {
  .desktop-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 3fr 2fr;
    -ms-grid-rows: 1fr;
  }

  .desktop-photos {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .desktop-content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

}